<h1>AboutUs</h1>
<div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
  <div class="flip-card-inner">
    <div class="flip-card-inner-front">
      <span>Book your next appointment</span>
    </div>
    <div class="flip-card-inner-back">
      <h3 class="flip-card-inner-back-title">Visit simran threading and hair salon</h3>
      <p class="flip-card-inner-back-text">"Beauty" is Not Always About Pretty Things.

It is About Who We are, What Happened to Us and How Our Lives are Affected."</p>
      <a href="#" class="button success">Book now</a>
    </div>
  </div>
</div>
